@media screen and (max-width: 767px) {
  .timeclock {
    display: none;
  }
}
.article-content img {
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 8px #aaa inset;
	-moz-box-shadow: 2px 2px 8px #aaa inset;
	box-shadow: 2px 2px 8px #aaa inset;
}